body {
  background: #fafafa;
}

.dino {
  position: absolute; /*O elemento ficará na posição definida independente do que tiver em volta*/
  bottom: 0; /*Faz o elemento ficar na parte de baixo da página*/
  background-image: url(/img/dino.png);
  width: 60px; /*Largura de 60 pixels*/
  height: 60px; /*Altura de 60 pixels*/
}

.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image: url(/img/cactus.png);
}

.game-over {
  text-align: center;
  color: #666;
  margin: 50px 0;
  font-family: arial;
}

/*Realiza a animação deslizando para a direita */
@keyframes slideright { /*Define as etapas da animação de uma posição inicial para uma final*/
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

.background {
  position: absolute;
  bottom: 0px;
  background-image: url('/img/background.png');
  background-repeat: repeat-x; /* Realiza a repetição da imagem no eixo x*/
  animation: slideright 600s infinite linear; /* Realiza a animação da imagem, deslizando para a direita a cada 600s*/
  -webkit-animation: slideright 600s infinite linear;
  width: 100%; /*Largura em 100% da tela*/
  height: 200px;
}
